*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}

.fotoo{
    float: left;
    width: 100px;
    height: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../Media/21116158daaeb1459b4ec0758505e1ad.gif);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
}

#name1{
    font-size: 50px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

#address{
    background-color: black; 
    border: 1px solid #002fff;
}

input[type="text"],
input[type="number"],
select {
    color: #00ff22;
    background-color: #000000;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #002fff;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.radio-group label {
    margin-right: 10px;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.btn-group {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #00ff22;
    border: 1px solid #002fff;
    border-radius: 4px;
    cursor: pointer;
}




nav {
    backdrop-filter: blur(50px);
    color: #fff;
    padding: 10px;
}
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container a {
    color: #00ff37;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
.nav-container a:hover {
    background-color: #3700ff;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.menu {
    display: flex;
}